<%- include('./partial/header.ejs'); %>
  <form action="/" method="post">
    <input type="text" name="username" placeholder="Enter mobile or number" value="">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="login">
  </form>
  </body>
</html>